
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Transaction Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{this.transArray[0]}}</th>
        <td>{{this.transArray[1]}}</td>
        <td>{{this.transArray[2]}}</td>
        <td>{{this.transArray[3]}}</td>
        <td>{{this.transArray[4]}}</td>
        <td>{{this.transArray[5]}}</td>
        <td>{{this.transArray[6]}}</td>
      </tr>
    </tbody>
</table>
<button type="button" class="btn btn-dark btn-large btn-block nav-item nav-link-edit" [routerLink]="['/account']">Back</button>