<div class="container" id="fullcontainer">

    <div class="page-centered">
        <h1 class="register-h1">Register New Account</h1>

        <form id="loginForm" class="col text-center">

            <div class="input-group-prepend w-50 mx-auto">
                <input id="username" type="text" placeholder="Username" required class="form-control form-input">
            </div>
            <div class="input-group-prepend w-50 mx-auto">
                <input id="password" type="password" placeholder="Password" required class="form-control form-input">
            </div>
            <div class="input-group-prepend w-50 mx-auto">
                <input id="email" type="text" placeholder="email" required class="form-control form-input">
            </div>
            <div class="input-group-prepend w-50 mx-auto">
                <input id="fname" type="text" placeholder="First Name" required class="form-control form-input">
            </div>
            <div class="input-group-prepend w-50 mx-auto">
                <input id="lname" type="text" placeholder="Last Name" required class="form-control form-input">
            </div>
            <div class="input-group-prepend w-50 mx-auto">
                <input id="street" type="text" placeholder="Street Address" required class="form-control form-input">
            </div>
            <div class="input-group-prepend w-50 mx-auto">
                <input id="city" type="text" placeholder="City" required class="form-control form-input">
            </div>
            <div class="input-group-prepend w-50 mx-auto">
                <input id="state" type="text" placeholder="State" required class="form-control form-input">
            </div>
            <div class="input-group-prepend w-50 mx-auto">
                <input id="zip" type="text" placeholder="Zip Code" required class="form-control form-input">
            </div>

            <br>
            <button id="registerButton" type="button" class="btn btn-dark" >Register</button>

        </form>

    </div>

</div>
